/*Setting up view for the search result page*/

#searchResultHeading{
    margin-top:15px;
    margin-left: 20px;
    text-align: left;
    font-size: 1.8rem;
    height: 60px;

}

.individual-item-image{
    height: 60%;
    width: 80%;
    display: flex;
    justify-content: center;
}


.item-list img{
   margin: 30px;
   min-width: 100px;
   min-height: 100px;
    aspect-ratio: 1 / 1;
   object-fit: fill;
   border-radius: 10px;
   border: 1px solid #ccc;
}


.item-caption{
    margin-bottom: 5px;
    text-align: center;
}

.search-result-content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 20px;
    text-align: left;
    font-size: 1.4rem;
}

@media screen and (max-width: 1200px){

    .search-result-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1.2rem;
    }

   .search-result-content{
       overflow-y: auto;
   }

}

/*
media query for max-width upto 768px
*/
@media screen and (max-width: 768px){

    .search-result-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        font-size: 1.2rem;
    }

   .search-result-content img{
       overflow-y: auto;
   }


}